<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .xx{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="todo" @keyup.13="add" placeholder="todo">
        <button  @click="add">添加</button>
        <br>
        正在进行：<strong>{{undone}}</strong>
        <ul>
            <li v-for="(item,index) in todos" v-if="!item.isCompleted">
                <input type="checkbox" v-model="item.isCompleted">
                <strong v-show="!isredact">{{item.todo}}</strong>
                <input type="text" v-model="item.todo" v-show="isredact" >
                <a href="javascript:;" @click="reduce(index)">删除</a>
            </li>
        </ul>
        已完成: <strong>{{done}}</strong>
        <ul>
            <li v-for="(item,index) in todos" v-if="item.isCompleted" class="xx">
                <input type="checkbox" v-model="item.isCompleted">
                <strong v-show="!isredact">{{item.todo}}</strong>
                <input type="text" v-model="item.todo" v-show="isredact">
                <a href="javascript:;" @click="reduce(index)">删除</a>
            </li>
        </ul>
    </div>
</body>
<script src="vue.js"></script>
<script>
    const app=new Vue({
        el:"#app",
        data:{
            todo:"",
            isredact:false,
            todos:[
                {
                    todo:"你好",
                    isCompleted:false
                },
                {
                    todo:"hello",
                    isCompleted:false
                }
            ],
            oldvalue:""
        },
        methods:{
            add(){
                this.todos.push({
                    todo:this.todo,
                    isCompleted:false
                })
                this.todo=""
            },
            reduce(index){
                this.todos.splice(index,1)
            }
        },
        computed:{
            undone(){
                return this.todos.filter(item=>!item.isCompleted).length
            },
            done(){
                return this.todos.filter(item=>item.isCompleted).length
            }
        }
    })

</script>
</html>